      h1 {
        color: #8c9da6;
        text-align: center;
        text-shadow: 8px 8px 14px #000000
      }

      #fonte-h1 {
        font-family: 'Segoe UI'
      }

      body {
        background-color: #002A32;
        color: #C1CAD6;
        text-align: center;
      }

      .img {
        border-radius: 100px;
      }

      .description {
        display: inline-flex;
        text-align: center;
        width: 900px;
        padding-left: 0px;
      }

      .paragraph {
        padding-top: 45px;
        margin-top: 5%;
      }

      li {
        list-style: none
      }

      h2 {
        color: #8c9da6;
        text-shadow: 4px 4px 8px #000000;
        margin-left: 40px;
      }

      .indice-clicavel {
        background-color: gray;
        opacity: 60%;
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        border-radius: 30px;
        cursor: pointer;
        text-decoration-line: none;
        color: #ffffff;
      }

      .content {
        display: inline-flex;
      }

      .indice {
        font-family: 'Kanit', sans-serif;
      }

      .indice li {
        display: inline;
        margin-right: 50px;
        list-style-type: none;
      }

      .sombra		{
        background: url(sombra.png) no-repeat bottom right;
        width: 300px;
        height: 213px;
      }
  
      .sombra img	{
        border: rgb(255, 255, 255) solid 2px;
      }

      .cor-de-fundo {
        background-color: #00151a;
      }

      a {
        color: inherit;
      }

      button:hover {
        background-color: #00151a;
        color:whitesmoke;
        cursor: pointer;
        border-radius: 30px
      }

      .article {
        padding: 0 40px;
      }

      .article-small {
        display: inline-block;
        width: 30%;
        margin: 0 10px;
        padding: 15px;
        text-align: center;
        vertical-align: middle;
      }